### DOCKER ENVERIONMENT (A-Z)

### API
API_VIRTUAL_HOST=api.laravel.test
API_HOST_HTTP_PORT=8001

### FRONT
FRONT_VIRTUAL_HOST=front.laravel.test
FRONT_HOST_HTTP_PORT=8002

### GENERAL
GENERAL_TIMEZONE=Asia/Bangkok

### MSSQL
MSSQL_HOST_PORT=1433
MSSQL_PID=Developer
MSSQL_DATABASE=development
MSSQL_SA_PASSWORD=StrongP@ssw0rd

### NGINX
NGINX_VERSION=1.13.12

### PATH
PATH_API_SRC=./src/api
PATH_FRONT_SRC=./src/front

### PHP_FPM
PHP_FPM_VERSION=7.2
PHP_FPM_INSTALL_INTL=false
PHP_FPM_INSTALL_IMAGEMAGICK=false
PHP_FPM_INSTALL_IMAGE_OPTIMIZERS=false

### PROXY
PROXY_HOST_HTTP_PORT=80
